# Local R project and system files
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Unnecessary rendered output from quarto manuscript
*.html
*.tex
*.pdf
*.doc
*.jpg
*.png
*.log
*.zip
*.csv

# Exceptions
!manuscript-apa.pdf

# Private and other unneccessary files
localonly/

